import groovy.yaml.YamlSlurper

def yamlSlurper = new YamlSlurper()
def configFile = new File("${launchDir}/param_files/main.yaml")
def mainyaml = yamlSlurper.parse(configFile)

params.main = mainyaml.main
params.slurm = mainyaml.slurm
params.inputfiles = mainyaml.inputfiles
params.apptainer = mainyaml.apptainer
singularity.enabled = params.main.apptainer

includeConfig "subworkflows/ROH/ROH.config"

def image(name) {
	(params.main.apptainer && params.apptainer[name]) ? "${params.apptainer.path}/${params.apptainer[name]}" : null
}

profiles {

	slurm {

		process {
			executor = 'slurm'
		}

		process {

			withLabel: 'bedops' {
				container = image("bedops")
				memory = mainyaml.bedops.resources.slurm.memory
				time = mainyaml.bedops.resources.slurm.time
				cpus = mainyaml.bedops.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=bedops.out --mail-type=END --mail-user=${params.slurm.email} --job-name=bedops"	
			}
		}

		process {

			withLabel: 'quarto' {
				container = image("quarto")
				memory = mainyaml.quarto.resources.slurm.memory
				time = mainyaml.quarto.resources.slurm.time
				cpus = mainyaml.quarto.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=quarto.out --mail-type=END --mail-user=${params.slurm.email} --job-name=quarto"	
			}
		}

		process {

			withLabel: 'vcftools' {
				container = image("vcftools")
				memory = mainyaml.vcftools.resources.slurm.memory
				time = mainyaml.vcftools.resources.slurm.time
				cpus = mainyaml.vcftools.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=vcftools.out --mail-type=END --mail-user=${params.slurm.email} --job-name=vcftools"	
			}
		}

		process {

			withLabel: 'versions' {
				container = image("versions")
				memory = mainyaml.version.resources.slurm.memory
				time = mainyaml.version.resources.slurm.time
				cpus = mainyaml.version.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=versions.out --mail-type=END --mail-user=${params.slurm.email} --job-name=merge_version"	
			}
		}
	}

	local {

		process {
			executor = 'local'
		}

		process {

			withLabel: 'bedops' {
				container = image("bedops")
				memory = mainyaml.bedops.resources.local.memory
				time = mainyaml.bedops.resources.local.time
				cpus = mainyaml.bedops.resources.local.cpus
			}
		}

		process {

			withLabel: 'quarto' {
				container = image("quarto")
				memory = mainyaml.quarto.resources.local.memory
				time = mainyaml.quarto.resources.local.time
				cpus = mainyaml.quarto.resources.local.cpus
			}
		}

		process {

			withLabel: 'vcftools' {
				container = image("vcftools")
				memory = mainyaml.vcftools.resources.local.memory
				time = mainyaml.vcftools.resources.local.time
				cpus = mainyaml.vcftools.resources.local.cpus
			}
		}

		process {

			withLabel: 'versions' {
				container = image("versions")
				memory = mainyaml.version.resources.local.memory
				time = mainyaml.version.resources.local.time
				cpus = mainyaml.version.resources.local.cpus
			}
		}
	}
}
