import groovy.yaml.YamlSlurper

def yamlSlurper = new YamlSlurper()
def configFile = new File("${launchDir}/param_files/ROH.yaml")
def rohyaml = yamlSlurper.parse(configFile)

params.settings = rohyaml.settings
params.detectruns.parameters = rohyaml.detectruns.parameters
params.plink.parameters = rohyaml.plink.parameters
params.subpopulation = rohyaml.subpopulation
params.genepath = rohyaml.genepath
params.island = rohyaml.island


profiles {

	slurm {
		process {

			withLabel: 'plink' {
				container = image("plink")
				memory = rohyaml.plink.resources.slurm.memory
				time = rohyaml.plink.resources.slurm.time
				cpus = rohyaml.plink.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=plink.out --mail-type=END --mail-user=${params.slurm.email} --job-name=plink"	
			}
		}

		process {

			withLabel: 'detectruns' {
				container = image("detectruns")
				memory = rohyaml.detectruns.resources.slurm.memory
				time = rohyaml.detectruns.resources.slurm.time
				cpus = rohyaml.detectruns.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=dr.out --mail-type=END --mail-user=${params.slurm.email} --job-name=detectruns"	
			}
		}

		process {

			withLabel: 'split_plink' {
				container = image("splitplink")
				memory = rohyaml.splitplink.resources.slurm.memory
				time = rohyaml.splitplink.resources.slurm.time
				cpus = rohyaml.splitplink.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=splitplink.out --mail-type=END --mail-user=${params.slurm.email} --job-name=splitplink"	
			}
		}

		process {

			withLabel: 'overlap' {
				container = image("overlap")
				memory = rohyaml.overlap.resources.slurm.memory
				time = rohyaml.overlap.resources.slurm.time
				cpus = rohyaml.overlap.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=overlap.out --mail-type=END --mail-user=${params.slurm.email} --job-name=overlap"	
			}
		}

		process {

			withLabel: 'combineoverlap' {
				container = image("combineoverlap")
				memory = rohyaml.combineoverlap.resources.slurm.memory
				time = rohyaml.combineoverlap.resources.slurm.time
				cpus = rohyaml.combineoverlap.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=combineoverlap.out --mail-type=END --mail-user=${params.slurm.email} --job-name=combineoverlap"	
			}
		}

		process {

			withLabel: 'snpislands' {
				container = image("snpisland")
				memory = rohyaml.snpisland.resources.slurm.memory
				time = rohyaml.snpisland.resources.slurm.time
				cpus = rohyaml.snpisland.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=snpisland.out --mail-type=END --mail-user=${params.slurm.email} --job-name=snpisland"	
			}
		}

		process {

			withLabel: 'topsnp' {
				container = image("topsnp")
				memory = rohyaml.topsnp.resources.slurm.memory
				time = rohyaml.topsnp.resources.slurm.time
				cpus = rohyaml.topsnp.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=topsnp.out --mail-type=END --mail-user=${params.slurm.email} --job-name=topsnp"	
			}
		}

		process {

			withLabel: 'splitROH' {
				container = image("splitROH")
				memory = rohyaml.splitROH.resources.slurm.memory
				time = rohyaml.splitROH.resources.slurm.time
				cpus = rohyaml.splitROH.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=split.out --mail-type=END --mail-user=${params.slurm.email} --job-name=splitROH"	
			}
		}

		process {

			withLabel: 'fixROH' {
				container = image("fixROH")
				memory = rohyaml.fixROH.resources.slurm.memory
				time = rohyaml.fixROH.resources.slurm.time
				cpus = rohyaml.fixROH.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=fix.out --mail-type=END --mail-user=${params.slurm.email} --job-name=fixROH"	
			}
		}

		process {

			withLabel: 'plots' {
				container = image("plots")
				memory = rohyaml.plots.resources.slurm.memory
				time = rohyaml.plots.resources.slurm.time
				cpus = rohyaml.plots.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=plots.out --mail-type=END --mail-user=${params.slurm.email} --job-name=plots"	
			}
		}
	}

	local {
		process {

			withLabel: 'plink' {
				container = image("plink")
				memory = rohyaml.plink.resources.local.memory
				time = rohyaml.plink.resources.local.time
				cpus = rohyaml.plink.resources.local.cpus
			}
		}

		process {

			withLabel: 'detectruns' {
				container = image("detectruns")
				memory = rohyaml.detectruns.resources.local.memory
				time = rohyaml.detectruns.resources.local.time
				cpus = rohyaml.detectruns.resources.local.cpus
			}
		}

		process {

			withLabel: 'split_plink' {
				container = image("splitplink")
				memory = rohyaml.splitplink.resources.local.memory
				time = rohyaml.splitplink.resources.local.time
				cpus = rohyaml.splitplink.resources.local.cpus
			}
		}

		process {

			withLabel: 'overlap' {
				container = image("overlap")
				memory = rohyaml.overlap.resources.local.memory
				time = rohyaml.overlap.resources.local.time
				cpus = rohyaml.overlap.resources.local.cpus
			}
		}

		process {

			withLabel: 'combineoverlap' {
				container = image("combineoverlap")
				memory = rohyaml.combineoverlap.resources.local.memory
				time = rohyaml.combineoverlap.resources.local.time
				cpus = rohyaml.combineoverlap.resources.local.cpus
			}
		}

		process {

			withLabel: 'snpislands' {
				container = image("snpisland")
				memory = rohyaml.snpisland.resources.local.memory
				time = rohyaml.snpisland.resources.local.time
				cpus = rohyaml.snpisland.resources.local.cpus
			}
		}

		process {

			withLabel: 'topsnp' {
				container = image("topsnp")
				memory = rohyaml.topsnp.resources.local.memory
				time = rohyaml.topsnp.resources.local.time
				cpus = rohyaml.topsnp.resources.local.cpus
			}
		}

		process {

			withLabel: 'splitROH' {
				container = image("splitROH")
				memory = rohyaml.splitROH.resources.local.memory
				time = rohyaml.splitROH.resources.local.time
				cpus = rohyaml.splitROH.resources.local.cpus
			}
		}

		process {

			withLabel: 'fixROH' {
				container = image("fixROH")
				memory = rohyaml.fixROH.resources.local.memory
				time = rohyaml.fixROH.resources.local.time
				cpus = rohyaml.fixROH.resources.local.cpus
			}
		}

		process {

			withLabel: 'plots' {
				container = image("plots")
				memory = rohyaml.plots.resources.local.memory
				time = rohyaml.plots.resources.local.time
				cpus = rohyaml.plots.resources.local.cpus
			}
		}
	}

}
