profiles {

	base {
		withLabel: 'plink' {
			memory = 16.GB
			time = '20m'
			cpus = 7
		}

		withLabel: 'split_plink' {
			memory = 16.GB
			time = '3h'
			cpus = 2
		}

		withLabel: 'overlap' {
			memory = 32.GB
			time = '24h'
			cpus = 6
		}
	}

	slurm {
		process {

			withLabel: 'plink' {
				clusterOptions = "--account=${params.account} --output=plink.out --mail-type=END --mail-user=${params.email} --job-name=plink"	
			}
		}

		process {

			withLabel: 'split_plink' {
				clusterOptions = "--account=${params.account} --output=splitplink.out --mail-type=END --mail-user=${params.email} --job-name=splitplink"	
			}
		}

		process {

			withLabel: 'overlap' {
				clusterOptions = "--account=${params.account} --output=overlap.out --mail-type=END --mail-user=${params.email} --job-name=overlap"	
			}
		}
	}

}
